.overflow{
    height: 50%;
    overflow: hidden;
}
.overflow .card-img-top{
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.overflow .card-img-top:hover {
    transform: scale(1.7);
}

#nprogress .bar {
    background: rgb(0, 195, 255) !important ;
}

#nprogress .spinner-icon {
    border-top: #ffbb00;
    border-left-color: #ffbb00;
}
.card.card-body a{
    border-radius: 0.25rem;
}
.nav-item{
    font-size: 25px;
}
.navbar-brand{
    font-size: 25px;
}